@use "../abstracts";

.auth {
    display: flex;

    min-height: 100vh;

    @supports (-webkit-touch-callout: none) {
        min-height: -webkit-fill-available;
    }

    &__intro,
    &__content {
        flex: 1;
        padding: 0 30px;
    }

    &__intro {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;

        background: var(--auth-intro-bg);

        &-logo,
        &-next {
            position: absolute;
            left: 50%;
            translate: -50%;
        }

        &-logo {
            top: 80px;
        }

        &-img {
            max-width: 100%;
        }

        &-text {
            max-width: 412px;

            text-align: center;

            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            color: var(--auth-intro-text-color);

            @include abstracts.screen(md) {
                font-size: 1.5rem;
                line-height: 146.667%;
            }
        }

        &-next {
            bottom: 50px;
        }
    }

    &__content {
        background: var(--auth-content-bg);

        &-inner {
            display: flex;
            align-items: center;
            flex-direction: column;

            text-align: center;

            width: min(460px, 100%);
            margin: 0 auto;
            padding: 50px 0;
        }

        @include abstracts.screen(md) {
            position: fixed;
            inset: 0;
            z-index: 1;
            transition: translate 0.5s;
            overflow-y: auto;

            &.hide {
                translate: 100%;
            }
        }
    }

    &__heading {
        margin-top: 50px;

        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;

        color: var(--auth-heading-color);

        @include abstracts.screen(md) {
            font-size: 2.2rem;
            line-height: 145.455%;
        }
    }

    &__desc {
        margin-top: 10px;
        padding: 0 20px;

        color: #9E9DA8;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;


        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__form {
        width: 100%;
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 0px;
        }
    }

    &__link {
        color: #0071DC;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem !important;
        }
    }

    &__btn-group {
        display: flex;
        flex-direction: column;
        gap: 30px;

        margin-top: 50px;
    }

    &__btn {
        width: 100%;
    }

    &__text {
        margin-top: 110px;
        color: #9E9DA8;
        font-size: 1.8rem;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }

        &-link {
            margin-left: 10px;

            color: #0071DC;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            @include abstracts.screen(md) {
                font-size: 1.6rem;
            }
        }
    }
}