<div class="container footer__inner">
    <div class="footer__row">
        <!-- Footer column 1 -->
        <div class="footer__col">
            <a href="./" class="logo footer__logo">
                <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                <h1 class="logo__title">grocerymart</h1>
            </a>
            <p class="footer__title">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem unde deleniti officiis asperiores,
                cupiditate a eveniet quam nobis fuga reprehenderit harum laudantium.
            </p>
            <div class="footer__socials">
                <a href="#!" class="footer__social-link">
                    <img src="../assets/icons/facebook.svg" alt="" class="footer__social-icon icon" />
                </a>
                <a href="#!" class="footer__social-link">
                    <img src="../assets/icons/instagram.svg" alt="" class="footer__social-icon icon" />
                </a>
                <a href="#!" class="footer__social-link">
                    <img src="../assets/icons/threads.svg" alt="" class="footer__social-icon icon" />
                </a>
                <a href="#!" class="footer__social-link">
                    <img src="../assets/icons/youtube.svg" alt="" class="footer__social-icon icon" />
                </a>
                <a href="#!" class="footer__social-link">
                    <img src="../assets/icons/bluesky.svg" alt="" class="footer__social-icon icon" />
                </a>
            </div>
        </div>
        <!-- Footer column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">SHOP</h3>
            <ul>
                <li>
                    <a href="#!" class="footer__link">All Departments</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Grocery</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Beauty</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Live</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Card</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">SUPPORT</h3>
            <ul>
                <li>
                    <a href="#!" class="footer__link">Store locator</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Order status</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 4 -->
        <div class="footer__col">
            <h3 class="footer__heading">COMPANY</h3>
            <ul>
                <li>
                    <a href="#!" class="footer__link">Customer Service</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Terms of Use</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Privacy</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Careers</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">About</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 5 -->
        <div class="footer__col">
            <h3 class="footer__heading">CONTACT</h3>
            <ul>
                <li>
                    <p class="footer__label">Email</p>
                    <a href="#!" class="footer__link">contact@grocerymart.com</a>
                </li>
                <li>
                    <p class="footer__label">Hotline</p>
                    <a href="#!" class="footer__link">0377606666</a>
                </li>
                <li>
                    <p class="footer__label">Address</p>
                    <a href="#!" class="footer__link">Binh Tho - Thu Duc - Ho Chi Minh City</a>
                </li>
                <li>
                    <p class="footer__label">Hours</p>
                    <a href="#!" class="footer__link">M - F 08:00am - 06:00pm</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="footer__separate"></div>
        <p class="footer__reserved">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
    </div>
</div>
